menu "OpenAI Board Configuration"

    choice OPENAI_BOARD_TYPE
    prompt "openai board type"
    default OPENAI_BOARD_ESP32_S3

        config OPENAI_BOARD_ESP32_S3
            bool "default demo board ESP32-S3"

        config OPENAI_BOARD_SPARK_BOT
            bool "Spark Bot"

    endchoice

endmenu
